<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>期货交易系统</title>
<link rel="stylesheet" href="__CSS__/global.css">
<link rel="stylesheet" href="__CSS__/account.css">
<link rel="stylesheet" href="__CSS__/p-info.css">
<script id="G--xyscore-load" type="text/javascript" charset="utf-8" async="" src="__JS__/xyscore_main.js"></script>
</head>
<body>
<div class="wrap">
  <div class="index" style="min-height: 1114px;">
  <div class="txss">
      <div class="tx"><img src="__IMG__/pic.gif"></div>
        <div class="gezh2">
          <div class="grzh2"><span>用户名：{$user.mname}</span><p>手机号码：{$user.utel}</p></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="info-box clearfix"> <i class="a-7"></i>
      <div class="info-detail clearfix"> <a href="{:U('Broker/mytiny')}" class="acc-l">我的小微</a> </div>
    </div>
<!--     <div class="info-box clearfix"> <i class="a-8"></i>
      <div class="info-detail clearfix"> <a href="" class="acc-l">我的奖励</a> </div>
    </div> -->
    <div class="info-box clearfix"> <i class="a-9"></i>
      <div class="info-detail clearfix"> <a href="{:U('Broker/dhold')}" class="acc-l">持仓单</a> </div>
    </div>
    <div class="info-box clearfix"> <i class="a-10"></i>
      <div class="info-detail clearfix"> <a href="{:U('Broker/dclear')}" class="acc-l">平仓单</a> </div>
    </div>
   <!--  <p class="r-pwd2"><span><a href="">我的名片</a></span></p> -->
    <div class="clearfix"></div>

  </div>

</div>
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/script.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/sea.js" async=""></script>
</body>
</html>
