<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>期货交易系统</title>
<link rel="stylesheet" href="__CSS__/global.css">
<link rel="stylesheet" href="__CSS__/ticket.css">
</head>
<body>
<div class="wrap">
  <div class="index" style="min-height: 1114px;">
    <header class="list-head">
      <nav class="list-nav clearfix"> <a href="javascript:history.go(-1)" class="list-back"></a>
        <h3 class="list-title">代理平仓</h3>
      </nav>
    </header>
    <ul class="ticket-list2">
    <volist name="ordlist" id="vo">
          <li><a href="{:U('Detailed/revenueid')}?jno={$vo['jno']}" class="clearfix"> <img src="__IMG__/sz.png" class="t-icon2">
          <div class="t-left2">
              <p class="pc">{$vo['jtype']}({$vo['remarks']})</p>
              <p class="ye">数量：{$vo['number']}</p>
          </div>
          <div class="t-right2">
            <p class="jg">总额：{$vo['jaccess']}</p>
            <p class="rq">{$vo['jtime']|date='Y-m-d',###}</p>
          </div>
          <div class="clearfix"></div>
         </a>
          </li>
      </volist>
    </ul>
     <div class="pagelist">{$page}</div>
  </div>
</div>
<style type="text/css">
  .pagelist{ text-align:center; background:#f1f1f1; padding:7px 0;}
.pagelist a{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; background:#fff; color:#6185a2;}
.pagelist span{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; color:#6185a2; color:#fff; background:#6185a2;}
</style>
</body>
</html>
