.users-list .header input.search {
  padding: 5px 6px;
  position: relative;
  top: -1px; }
  .users-list .header input.search:focus {
    box-shadow: none;
    border: 1px solid #888; }
.users-list .header .ui-select {
  margin: 3px 40px 0 0; }
.users-list .header .ui-dropdown {
  margin-left: 20px; }
.users-list .header a.btn-flat span {
  font-size: 17px;
  position: relative;
  top: 2px;
  margin-right: 4px; }
.users-list .table td {
  vertical-align: middle;
  font-size: 13px;
  text-align:center;
}
.users-list .table td ul.actions {
    margin: 5px 0 0 0;
    padding: 0;
}
.qjcz a{
    height: 25px;
    display: block;
    background: #ccc;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
	float:left;
	margin-left:10px;
	cursor: pointer;
	    padding: 0 7px;
}
.qjcz input{
    height: 25px;
    display: block;
    background: #ccc;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
		float:left;
		margin-left:10px;
		cursor: pointer;
	  padding: 0 7px;
	  border: 0;
    color: #0088cc;
    font-size: 13px;
}
.users-list .table td ul.actions li {
    display: inline;
    border-right: 1px solid #d0dde9;
    padding: 5px 6px 0px 3px;
}
.users-list .table td ul.actions i {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
}
.users-list .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px; }
.users-list .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0 0 0; }
.users-list .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0; }
.users-list .pagination {
  margin-top: 25px; }

/* responsive */
@media (max-width: 767px) {
  .ui-dropdown .dialog .body {
    width: 250px;
    left: 58%;
    position: relative; }

  .users-list .table a.name {
    font-size: 12px; }
  .users-list .table td {
    font-size: 12px; }
  .users-list h3 {
    display: block;
    float: none;
    margin-bottom: 30px; }
  .users-list .header input.search {
    margin-bottom: 18px; }
  .users-list .header .ui-dropdown {
    float: left;
    margin-left: 0; }

  .ui-dropdown .dialog .body .form input[type="text"] {
    margin-top: 10px; }

  .ui-dropdown .dialog .body .form a {
    margin-top: 10px;
    margin-left: 18px; } }
