<extend name="Base/common"/>
<block name="content">
<link rel="stylesheet" href="__CSS__/global.css">
<link rel="stylesheet" href="__CSS__/index.css">
<link rel="stylesheet" href="__CSS__/pwd.css">
<div class="wrap">
  <div class="index" style="min-height: 891px;">
    <header class="list-head">
      <nav class="list-nav clearfix"> <a href="javascript:history.go(-1)" class="list-back"></a>
        <h3 class="list-title">修改登陆密码</h3>
      </nav>
    </header>
    <form id="reviseForm" class="i-form" method="post" action="{:U('User/edituser')}">
      <ul class="form-box">
        <li class="f-line clearfix">
          <label class="f-label">当前密码</label>
          <input id="c-pwd" class="f-input text" type="password" maxlength="18" placeholder="请输入当前登陆密码" name="upwd">
        </li>
        <li class="f-line clearfix">
          <label class="f-label">新密码</label>
          <input id="n-pwd" class="f-input text" type="password" maxlength="18" placeholder="请输入六位新密码" name="newpwd">
        </li>
        <li class="f-line clearfix">
          <label class="f-label">确认密码</label>
          <input id="r-pwd" class="f-input text" type="password" maxlength="18" placeholder="再次输入登陆密码" name="mypwd">
        </li>
      </ul>
      <input type="submit" value="确 认" class="f-sub" id="send">
    </form>
  </div>
</div>
</block>

