<extend name="Base/common"/>
<block name="content">
	<!-- this page specific styles -->
	<link rel="stylesheet" href="__CSS__/compiled/typelist.css" type="text/css" media="screen" />    
    <div class="container-fluid">
    	<div id="pad-wrapper" class="users-list">
    		<div class="row-fluid header">
                <h3>产品管理&nbsp;>&nbsp;产品分类</h3>
                
            </div>
            
            <div class="row-fluid header head2">
                
                    <a href="{:U('Goods/gtypeadd')}" class="btn-flat success">
                        <span>&#43;</span>
                        添加分类
                    </a>
            </div> 
            
            <!---type list---->

	            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="span1 sortable">
								<!--<input type="checkbox">-->
                                编号
                            </th>
                            <th class="span3 sortable">
                                <span class="line"></span>商品名称
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>点差x
                            </th>
                         
							<th class="span1 sortable">
                                <span class="line"></span>操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ajaxback">
                    <volist name="typelist" id="gl">
                    <!-- row -->
                    <tr class="first">
						<td>
							<!--<input type="checkbox" name="pid[]" value="{$gl['pid']}">-->
                            {$gl['cid']}
                        </td>
                        <td>
                          {$gl['cname']}</a>
                        </td>                  
                        <td>
                        	{$gl['myat']}
                        </td>
                    
                        <td>
							<ul class="actions">
								<li style="border: 0;"><a href="{:U('Goods/gtedit',array('cid'=>$gl['cid']))}"><i class="table-edit"></i></a></li>
								<li class="last"><a href="{:U('Goods/gtdel',array('cid'=>$gl['cid']))}" onclick="if(confirm('确定要删除吗?')){return true;}else{return false;}"><i class="table-delete"></i></a></li>
							</ul>
                        </td>
                    </tr>
                    </volist>
                    </tbody>
                </table>
		</div>
	</div>
</div>
<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/theme.js"></script>

<script type="text/javascript">
	

$(function(){
    $(".ce > li >  span").click(function(){
    	if($(this).children("img").attr("src")=="__IMG__/dedeexplode.gif"){
	    	$(this).children("img").attr("src","__IMG__/dedecontract.gif");
	    }else{
	    	$(this).children("img").attr("src","__IMG__/dedeexplode.gif");
	    }
		 $(this).siblings(".er").toggle(300);
		 //$(this).parents().siblings().find(".er > li > .thr").hide().parents().siblings().find(".thr_nr").hide();
		
	})
	
    $(".er > li > span").click(function(){
    	if($(this).children("img").attr("src")=="__IMG__/dedeexplode.gif"){
	    	$(this).children("img").attr("src","__IMG__/dedecontract.gif");
	    }else{
	    	$(this).children("img").attr("src","__IMG__/dedeexplode.gif");
	    }
        $(this).addClass("sen_x").parents().siblings().find("a").removeClass("sen_x");
        $(this).parents().siblings().find(".thr").hide(300);	
	    $(this).siblings(".thr").toggle(300);	
	})

    $(".thr > li > span").click(function(){
    	if($(this).children("img").attr("src")=="__IMG__/dedeexplode.gif"){
	    	$(this).children("img").attr("src","__IMG__/dedecontract.gif");
	    }else{
	    	$(this).children("img").attr("src","__IMG__/dedeexplode.gif");
	    }
	     $(this).addClass("xuan").parents().siblings().find("a").removeClass("xuan");
		 $(this).parents().siblings().find(".thr_nr").hide();	
	     $(this).siblings(".thr_nr").toggle();
	})

})
</script>
<script type="text/javascript">
$(document).ready(function(){
	var eqli = $("#dashboard-menu").children().eq(2);
	eqli.attr('class','active');
	$("#dashboard-menu .active .submenu").css("display","block");
});
</script>
</block>