@charset "utf-8";
/* CSS Document */
.p-box{
    width: 100%;
    background: #363951;
    padding: 5% 1em;
}
.head-shot{
    float: left;
    width: 115px;
    height: 115px;
    border: 6px solid #4a4c61;
    border-radius: 100%;
}
.head-shot span{
    display: block;
    width: 85px;
    height: 85px;
    margin: 9px auto 0;
    border: 4px solid #5d5e71;
    border-radius: 100%;
    background: #363951;
}
.head-img{
    display: block;
    width: 68px;
    height: 68px;
    margin: 4px auto 0;
    border-radius: 100%;
    background: #f7f0f0;
    padding: 3px;
}
.info-list{
    float:left;
    width:55%;
    margin-left: 15px;
    padding-top: 15px;


}
.info-list li{
    width: 100%;
    line-height: 30px;
}
.info-list li i{
    float: left;
    width: 60px;
    font-size: 1rem;
    color: #f7f0f0;
    text-align: right;
}
.info-list li span{
    float: left;
    font-size: 1.3rem;
    color: #f7f0f0;
}
.r-pwd{
    width: 100%;
    margin-top: 15px;
    border: 1px solid #d4d4d4;
    border-left: 0;
    border-right: 0;
    background: #fff;

}
.r-pwd a{
    display: block;
    padding: 1em;
    width: 100%;
    background: url("../images/arr-rr.png") 95% no-repeat;
    background-size: 10px 18px;
    font-size: 1.3rem;
    color: #888;
}
.r-pwd2{
    width: 100%;
    margin-top: 15px;
    border: 1px solid #d4d4d4;
    border-left: 0;
    border-right: 0;
    background: #fff;

}
.r-pwd2 a{
    display: block;
    padding: 1em;
    width: 100%;
    background: url("../images/ewm.gif") 95% no-repeat;
    font-size: 1.3rem;
    color: #888;
}

.exit{
    display: block;
    width: 100%;
    margin-top:30px;
    border: 1px solid #d4d4d4;
    border-left: 0;
    border-right: 0;
    background: #fff;
    padding: 1em;
    font-size: 1.2rem;
    color: #2c8ff4;
    text-align: center;
}
.tyq{ width:100%;}
.tyq img{ width:100%;}
