@charset "utf-8";
/* CSS Document */
.ticket-list{
    width: 100%;
	max-height: 350px;
    overflow-y: auto;
}
.ticket-list li{
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #cdcdcd;
}
.ticket-list li a{
    display: block;
    color: #4e4e4e;
    padding: 0 1em;
}
.ticket-list li a.selected{
    background: #c5c5c5;
}
.ticket-list2{
    width: 100%;
	max-height: 350px;
    overflow-y: auto;
}
.ticket-list2 li{
    width: 100%;
    line-height: 25px; 
    padding:10px 0;
    border-bottom: 1px solid #cdcdcd;
}
.t-right2 p{
	line-height: 36px;
}
.ticket-list2 li a{
    display: block;
    color: #4e4e4e;
    padding: 0 0.5em;
}
.ticket-list2 li a.selected{
    background: #c5c5c5;
}
.t-icon{
    float: left;
    width: 35px;
    height: 25px;
    margin-right: 8px;
    margin-top: 13px;
}
.t-icon2{
    float: left;
    width: 54px;
    height: 43px;
    margin-right: 8px;
    margin-top: 8px;
}
.t-left{
    font-size: 1.4rem;

}
.t-right{
    float: right;
    font-size: 1.2rem;
}
.t-left2{ width:45%; float:left;

}
.t-right2{ width:28%;
    float: right; text-align:right;
}
.pc{font-size: 1.4rem; color:#535353;}
.ye{font-size: 1.2rem; color:#7c7c7c;}
.jg{font-size: 1.4rem; color:#ff7c80;}
.jg2{font-size: 1.4rem; color:#1ebb30;}
.rq{font-size: 1.2rem; color:#898989;}

.ticket-con{
    width:92%;
    margin-left: 6%;
    padding-top: 5%;
}
.con-title{
    width: 100%;
    border-bottom: 1px dashed #c4c4c4;
    background: url("../images/ticket-big.png") left no-repeat;
    background-size: 80px 56px;
    padding:1em 0 1em 90px;

}
.con-title span{
    display: block;
    font-size: 2.5rem;
    color: #2c8ff4;
}
.con-title em{
    display: block;
    font-size: 1.2rem;
    color: #9f9f9f;
}
.con-info{
    width: 100%;
    border-bottom: 1px dashed #c4c4c4;
    font-size: 1.25rem;
    color: #4e4e4e;
    line-height: 1.8;
    padding: .6em 0;
}
.con-detail{
    width: 100%;
    padding-top: 1em;
    font-size: 1.25rem;
    color: #4e4e4e;
    line-height: 1.7;
}

/****没有赢家券提示****/
.ticket-no{
    width: 100%;
    height: 200px;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 1px 1px 3px #2e1b00;
    font-weight: bold;
    /*padding: .5em 0;*/
    line-height: 200px;
    text-align: center;

}