<extend name="Base/common"/>
<block name="content">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/article-add.css" type="text/css" media="screen" />
    <!-- this page specific styles -->
    <link href="__CSS__/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet" />
    <link href="__CSS__/lib/uniform.default.css" type="text/css" rel="stylesheet" />
    <link href="__CSS__/lib/select2.css" type="text/css" rel="stylesheet" />
    <link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />

    <div class="container-fluid">
        <div id="pad-wrapper" class="form-page">
            <div class="row-fluid header">
                <h3>优惠卷管理&nbsp;>&nbsp;发放优惠卷</h3>
            </div>
            <div class="row-fluid form-wrapper">
                <form action="{:U('Coupons/cpsend')}" method="post">
                    <!-- left column -->
                    <div class="span8 column">
                        <input type="hidden" name="getstyle" value="0"/>
                        <div class="field-box">
                            <label>优惠券金额：</label>
                            <select name="cptype" style="width:250px" class="select2">
                                <option value="0"/>请选择优惠券金额
                                <volist name="cpall" id="cp">
                                    <option value="{$cp['eid']}"/>{$cp['eprice']}元,有效期{$cp['limittime']}天
                                </volist>
                            </select>
                        </div>
                        <!--<div class="field-box">
                            <label>分发用户:</label>
                            <select style="width:250px" multiple="" class="select2">
                                <option value="all"/>全部用户
                                <volist name="ulist" id="ult">
                                <option value="{$ult['uid']}"/>{$ult['username']}
                                </volist>
                            </select>
                        </div>-->
                        <div class="field-box">
                            <label>分发用户:</label>
                            <select name="cpuname" style="width:250px"  class="select2">
                                <option value="all"/>全部用户
                                <volist name="ulist" id="ult">
                                    <option value="{$ult['uid']}"/>{$ult['username']}
                                </volist>
                            </select>
                        </div>


                        <!--<div class="field-box">
                            <label>结束时间:</label>
                            <input type="text" value="" class="input-large datepicker" name="endtime"/>
                        </div>-->

                        <div class="field-box actions">
                            <input type="submit" class="btn-glow primary" value="提交"><span>或</span><input type="reset" value="重置" class="reset">
                        </div>
                    </div>
                </form>
                <!-- right column -->
               <div class="span4 column pull-right">
                    <div class="field-box"><h3>说明：</h3></div>
                    <div class="field-box">添加商品务必正确填写手续费以及产品单价</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end main container -->


    <!-- scripts for this page -->
    <script src="__JS__/wysihtml5-0.3.0.js"></script>
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="__JS__/bootstrap.datepicker.js"></script>
    <script src="__JS__/jquery.uniform.min.js"></script>
    <script src="__JS__/select2.min.js"></script>
    <script src="__JS__/theme.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var eqli = $("#dashboard-menu").children().eq(6);
            eqli.attr('class','active');
            $("#dashboard-menu .active .submenu").css("display","block");
        });
    </script>
    <!-- call this page plugins -->
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "请选择用户发放优惠卷"
            });

            // datepicker plugin
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>
</block>