<extend name="Base/common"/>
<block name="content">
	<!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/order-list.css" type="text/css" media="screen" />
    <link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>订单列表</h3>
                <div class="span10 pull-right">
                    <div class="tpsearch">
                    	订单编号：<input type="text" class="span6 search" placeholder="请输入订单编号查找..." name="orderno" id="orderno"/>
                    </div>
                    <div class="tpsearch">
                    	用户名称：<input type="text" class="span6 search" placeholder="请输入用户名称查找..." name="username" id="username"/>
                    </div>
                    <div class="tpsearch">
                    	交易时间：<input type="text" value="03/29/2014" class="input-large datepicker" style="margin-bottom: 0;" name="buytime" id="buytime">
                    </div>
                </div>
                <div class="span10 pull-right" style="margin-top: 20px;">
                    <div class="tpsearch">
                    	订单类型：<select id="ostyle" class="span6" name="ostyle">
                    				<option value="">默认不选</option>
	                                <option value="0">买涨</option>
	                                <option value="1">买跌</option>
                    			</select>
                    </div>
                    <div class="tpsearch">
                    	订单盈亏：<select id="ploss" class="span6" name="ploss">
                    				<option value="">默认不选</option>
	                                <option value="0">盈利</option>
	                                <option value="1">亏损</option>
                    			</select>
                    </div>
                    <div class="tpsearch">
                    	订单状态：<select id="ostaus" class="span7">
                    				<option value="">默认不选</option>
	                                <option value="0">建仓</option>
	                                <option value="1">平仓</option>
                    			</select>
                    </div>
                </div>
                <div class="span10 pull-right" style="margin-top: 20px;">
                	<a href="javascript:void(0)" class="btn-flat info" id="search_begin">开始查找</a>
                </div>
            </div>
            <!-- Users table -->
            <div class="row-fluid table">
                <!--//这个地方动态加载-->
                <table class="table table-hover">
                	<thead>
                        <tr>
                            <th class="span2 sortable">
                                <span class="line"></span>订单编号
                            </th>
							<th class="span2 sortable">
                                <span class="line"></span>用户
                            </th>
                            <th class="span3 sortable">
                                <span class="line"></span>订单时间
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>产品信息
                            </th>
							<th class="span2 sortable">
                                <span class="line"></span>数量
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>状态
                            </th>
							<th class="span1 sortable">
                                <span class="line"></span>类型
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>买价
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>卖价
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>账户余额
                            </th>
                            <!--<th class="span2 sortable">
                                <span class="line"></span>佣金
                            </th>-->
							<th class="span1 sortable">
                                <span class="line"></span>手续费
                            </th>							
							<th class="span1 sortable">
                                <span class="line"></span>盈亏
                            </th>
							<th class="span2 sortable">
                                <span class="line"></span>操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ajaxback">
                    	<volist name="orders" id="vo">
		                    <tr class="first <if condition='$vo.ostaus eq 0'>create<else/></if>">
								<td>
		                            {$vo.orderno}
		                        </td>
		                        <td>
		                            <a href="{:U('User/updateuser',array('uid'=>$vo['uid']))}" class="name">{$vo.username}</a>
		                        </td>
		                        <td>
		                        	<if condition='$vo.ostaus eq 1'>
		                            	{$vo.selltime|date='Y-m-d H:m',###}
		                            <else/>
		                           		{$vo.buytime|date='Y-m-d H:m',###}
		                            </if>
		                        </td>
		                        <td>
									<a href="{:U('Goods/gedit',array('pid'=>$vo['pid']))}">{$vo.ptitle}</a>
		                        </td>
								<td>
		                            {$vo.onumber}手
		                        </td>
								<td>
									<if condition='$vo.ostaus eq 1'>
	                                <!--<span class="label label-info">平仓</span>-->
	                                平仓
	                            	<else/>
									<!--<span class="label">建仓</span>-->
									建仓
									</if>
	                            </td>
	                            <td>
	                            	<if condition='$vo.ostyle eq 1'>
	                                <!--<span class="label label-success">买跌</span>-->
	                                <font color="#2fb44e">买跌</font>
	                            	<else/>
									<!--<span class="label label-cc">买涨</span>-->
									<font color="#ed0000">买涨</font>
									</if>                            	
	                            </td>
	                            <td>
	                            	<font color="#f00" size="3">{$vo.buyprice}</font>
	                            </td>
	                            <td class="sellprice">
	                            	<if condition='$vo.ostaus eq 1'>
	                            		<if condition='$vo["buyprice"] gt $vo["sellprice"]'>
                            				<font color="#ed0000" size="3">{$vo.sellprice}</font>
                            			<else/>
                            				<font color="#2fb44e" size="3">{$vo.sellprice}</font>
	                            		</if>
	                            	<else/>
										<!--<span class="label">建仓中</span>-->
										<span <if condition='$vo.cid eq 1'>class="you drop"<elseif condition='$vo.cid eq 2'/>class="baiyin drop"<else/>class="tong drop"</if>></span>
									</if>
	                            </td>
	                            <td>
	                                <font color="#f00" size="3">{$vo.commission}</font>
	                            </td>
								<!--<td>
	                                <if condition='$vo.ostaus eq 1'>
	                                <font color="#f00" size="3">{$vo.commission}</font>
	                            	<else/>
									<span class="label">建仓中</span>
									</if>
	                            </td>-->
								<td>
	                                <font color="#f00" size="3">{$vo['fee']}</font>
	                            </td>
								<td>
	                                <if condition='$vo.ostaus eq 1'>
	                                	<if condition="$vo['ploss'] egt 0">
	                                		<font color="#ed0000" size="4">{$vo.ploss}</font>	
	                                	<else/>
	                                		<font color="#2fb44e" size="3">{$vo.ploss}</font>
	                                	</if>
	                            	<else/>
									<!--<span class="label">建仓中</span>-->
									<span class="ploss"></span>
									</if>
	                            </td>
								<td>
									<a href="{:U('Order/ocontent',array('oid'=>$vo['oid']))}">查看</a>
		                        </td>
		                        <input type="hidden" value="{$vo['wave']}" name="wave" />
		                        <input type="hidden" value="{$vo['onumber']}" name="onumber" />
		                        <input type="hidden" value="{$vo['buyprice']}" name="buyprice" />
		                        <input type="hidden" value="{$vo['cid']}" name="cid" />
		                        <input type="hidden" value="{$vo['ostyle']}" name="ostyle" />
		                    </tr>
						</volist>
                	</tbody>
                </table>
                <input id="yprice" type="hidden" value=""/>
           		<input id="byprice" type="hidden" value=""/>
           		<input id="toprice" type="hidden" value=""/>
                <div class="qjcz">
					今日盈亏统计：<font color="#f00" size="4"><if condition="$tploss eq ''">0<else/>{$tploss}</if></font>元&nbsp;&nbsp;交易手数：<font color="#f00" size="4"><if condition="$num eq ''">0<else/>{$num}</if></font>手&nbsp;&nbsp;交易额统计：<font color="#f00" size="5"><if condition="$totals eq ''">0<else/>{$totals}</if></font>元
				</div>
            </div>
            <div class="pagination pull-right">
                <ul>
                    {$page}
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>
    <!-- end main container -->
<div id="loading" style="width: 100%;height: 105%;position: absolute;top: 0; z-index: 9999;display: none;">
	<div class="load-center" style="background: #000;position: absolute;width: 60%;height: 14%;bottom: 10%;border-radius: 10px;color: #fff;text-align: center;font-size: 24px;left: 17%;padding: 1%;">
		<img src="__IMG__/ajax-loading.jpg" alt="ajax-loading" width="40"/><br/>页面加载中...
	</div>
</div>
<!-- scripts -->

<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function () {

        // datepicker plugin
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<script type="text/javascript">
	$(document).ready(function(){
		var eqli = $("#dashboard-menu").children().eq(3);
		eqli.attr('class','active');
		$("#dashboard-menu .active .submenu").css("display","block");
		
		/** 
		 * 时间对象的格式化; 
		 */  
		Date.prototype.format = function(format) {  
		    /* 
		     * eg:format="yyyy-MM-dd hh:mm:ss"; 
		     */  
		    var o = {  
		        "M+" : this.getMonth() + 1, // month  
		        "d+" : this.getDate(), // day  
		        "h+" : this.getHours(), // hour  
		        "m+" : this.getMinutes(), // minute  
		        "s+" : this.getSeconds(), // second  
		        "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
		        "S" : this.getMilliseconds()  
		        // millisecond  
		    }  
		  
		    if (/(y+)/.test(format)) {  
		        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
		                        - RegExp.$1.length));  
		    }  
		  
		    for (var k in o) {  
		        if (new RegExp("(" + k + ")").test(format)) {  
		            format = format.replace(RegExp.$1, RegExp.$1.length == 1  
		                            ? o[k]  
		                            : ("00" + o[k]).substr(("" + o[k]).length));  
		        }  
		    }  
		    return format;  
		}
		
		var now = new Date().format("MM/dd/yyyy");
		$(".input-large").attr("value",now);
	});
	//搜索结果，ajax返回搜索框搜索结果
	$('#search_begin').click(function(){
		//获取文本框值
		var orderno = $("#orderno").val(),
			username = $("#username").val(),
			buytime = $("#buytime").val(),
		    ostyle = $("#ostyle  option:selected").val(),
			ploss = $("#ploss  option:selected").val(),
			ostaus = $("#ostaus option:selected").val();
			
		//alert(orderno+username+buytime+ostyle+ploss+ostaus);
		$.ajax({
			type: "post",
			url: "{:U('Order/olist?step=search')}",
			data:{"orderno":orderno,"username":username,"buytime":buytime,"ostyle":ostyle,"ploss":ploss,"ostaus":ostaus},
			success: function(data){
				//console.log(data);
				if(data=="null"){
	            	//$("#loading").hide();
	            	$("#ajaxback").html('<tr class="first"><td colspan="14">没有找到结果，请重新输入！请检查输入的格式是否正确！</tr></td>');
	            }else{
	            	//$("#loading").hide();
	            	$olist = "";
		            $.each(data,function(no,items){
		            	if(items.ostaus==0){
		            		$olist += '<tr class="first create">';	
		            	}else{
		            		$olist += '<tr class="first">';
		            	}
		            	$olist += '<td>'+items.oid+'</td>';
		            	$olist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'">'+items.username+'</a></td>';
		            	if(items.ostaus==1){
		            		$olist += '<td>'+items.selltime+'</td>';
		            	}else{
		            		$olist += '<td>'+items.buytime+'</td>';
		            	}
		            	$olist += '<td><a href="{:U(\'Goods/gedit\')}?pid='+items.pid+'">'+items.ptitle+'</a></td>';
		            	$olist += '<td>'+items.onumber+'手</td><td>';
		            	if(items.ostaus==1){
		            		$olist += '平仓';
		            	}else{
		            		$olist += '建仓';
		            	}
		            	$olist += '</td><td>';
		            	if(items.ostyle==1){
		            		$olist += '<font color="#2fb44e">买跌</font>';
		            	}else{
		            		$olist += '<font color="#ed0000">买涨</font>';
		            	}
		            	$olist += '</td>';
		            	$olist += '<td><font color="#f00" size="3">￥'+items.buyprice+'<font></td>';
		            	$olist += '<td class="sellprice">';
		            	if(items.ostaus==1){
		            		if(items.buyprice>items.sellprice){
		            			$olist += '<font color="#ed0000" size="3">'+items.sellprice+'</font>';	
		            		}else{
		            			$olist += '<font color="#2fb44e" size="3">'+items.sellprice+'</font>';
		            		}
		            	}else{
		            		if(items.cid==1){
		            			$olist += '<span class="you drop"></span>';
		            		}else if(items.cid==2){
		            			$olist += '<span class="baiyin drop"></span>';
		            		}else{
		            			$olist += '<span class="tong drop"></span>';
		            		}
		            	}
		            	$olist += '</td><td>';
		            	$olist += '<font color="#f00" size="3">'+items.commission+'<font>';	            	
		            	$olist += '</td>';
		            	$olist += '<td><font color="#f00" size="3">'+items.fee+'<font></td>';
		            	$olist += '<td>';
		            	if(items.ostaus==1){
		            		if(items.ploss>=0){
		            			$olist += '<font color="#ed0000" size="4">'+items.ploss+'<font>';	
		            		}else{
		            			$olist += '<font color="#2fb44e" size="4">'+items.ploss+'<font>';
		            		}
		            	}else{
		            		$olist += '<span class="ploss"></span>';
		            	}
		            	$olist += '</td>';
		            	$olist += '<td><a href="{:U(\'Order/ocontent\')}?oid='+items.oid+'">查看</a></td>';
		            	$olist += '<input type="hidden" value="'+items.wave+'" name="wave" />';
		            	$olist += '<input type="hidden" value="'+items.onumber+'" name="onumber" />';
		            	$olist += '<input type="hidden" value="'+items.buyprice+'" name="buyprice" />';
		            	$olist += '<input type="hidden" value="'+items.cid+'" name="cid" />';
		            	$olist += '<input type="hidden" value="'+items.ostyle+'" name="ostyle" />';
		            	$olist += '</tr>';
		            })
		            $("#ajaxback").html($olist);
		            butt();
	            }
			},
			error: function(data){
				console.log(data);
			}
		});
	})
	
	
	
	
	$('#top_search').keyup(top_serch);
	$('#sxsearch').click(top_serch);
	function top_serch(){
		//获取点击参数
		var urlkey = $(this).attr("urlkey");
		//获取文本框值
		var keywords = $("#top_search").val(),
		    sxkey = $("#sxkey  option:selected").val(),
			formula = $("#formula  option:selected").val(),
			sxvalue = $("#sxvalue").val();
		//重新定义提交url
		var newurl = "";
		if(urlkey == "search"){
			newurl = "{:U('Order/olist?step=search')}"
		}
		if(urlkey == "sxsearch"){
			newurl = "{:U('Order/olist?step=sxsearch')}"
		}
		$.ajax({
        type: "post",  
        url: newurl,    
        data:{"keywords":keywords,"sxkey":sxkey,"formula":formula,"sxvalue":sxvalue},
//      beforeSend:function(XMLHttpRequest){ 
//            //alert('远程调用开始...'); 
//            $("#loading").show(); 
//      },
        success: function(data) {
        	//$("#ajaxback").html(data);
            if(data=="null"){
            	//$("#loading").hide();
            	$("#ajaxback").html('<tr class="first"><td colspan="13">没有找到结果，请重新输入！请检查输入的格式是否正确！</tr></td>');
            }else{
            	//$("#loading").hide();
            	$olist = "";
	            $.each(data,function(no,items){
	            	if(items.ostaus==0){
	            		$olist += '<tr class="first create">';	
	            	}else{
	            		$olist += '<tr class="first">';
	            	}
	            	$olist += '<td>'+items.oid+'</td>';
	            	$olist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'">'+items.username+'</a></td>';
	            	if(items.ostaus==1){
	            		$olist += '<td>'+items.selltime+'</td>';
	            	}else{
	            		$olist += '<td>'+items.buytime+'</td>';
	            	}
	            	$olist += '<td><a href="{:U(\'Goods/gedit\')}?pid='+items.pid+'">'+items.ptitle+'</a></td>';
	            	$olist += '<td>'+items.onumber+'手</td><td>';
	            	if(items.ostaus==1){
	            		$olist += '平仓';
	            	}else{
	            		$olist += '建仓';
	            	}
	            	$olist += '</td><td>';
	            	if(items.ostyle==1){
	            		$olist += '<font color="#2fb44e">买跌</font>';
	            	}else{
	            		$olist += '<font color="#ed0000">买涨</font>';
	            	}
	            	$olist += '</td>';
	            	$olist += '<td><font color="#f00" size="3">￥'+items.buyprice+'<font></td>';
	            	$olist += '<td class="sellprice">';
	            	if(items.ostaus==1){
	            		if(items.buyprice>items.sellprice){
	            			$olist += '<font color="#ed0000" size="3">'+items.sellprice+'</font>';	
	            		}else{
	            			$olist += '<font color="#2fb44e" size="3">'+items.sellprice+'</font>';
	            		}
	            	}else{
	            		if(items.cid==1){
	            			$olist += '<span class="you drop"></span>';
	            		}else if(items.cid==2){
	            			$olist += '<span class="baiyin drop"></span>';
	            		}else{
	            			$olist += '<span class="tong drop"></span>';
	            		}
	            	}
	            	$olist += '</td><td>';
	            	$olist += '<font color="#f00" size="3">'+items.commission+'<font>';	            	
	            	$olist += '</td>';
	            	$olist += '<td><font color="#f00" size="3">'+items.fee+'<font></td>';
	            	$olist += '<td>';
	            	if(items.ostaus==1){
	            		if(items.ploss>=0){
	            			$olist += '<font color="#ed0000" size="4">'+items.ploss+'<font>';	
	            		}else{
	            			$olist += '<font color="#2fb44e" size="4">'+items.ploss+'<font>';
	            		}
	            	}else{
	            		$olist += '<span class="ploss"></span>';
	            	}
	            	$olist += '</td>';
	            	$olist += '<td><a href="{:U(\'Order/ocontent\')}?oid='+items.oid+'">查看</a></td>';
	            	$olist += '<input type="hidden" value="'+items.wave+'" name="wave" />';
	            	$olist += '<input type="hidden" value="'+items.onumber+'" name="onumber" />';
	            	$olist += '<input type="hidden" value="'+items.buyprice+'" name="buyprice" />';
	            	$olist += '<input type="hidden" value="'+items.cid+'" name="cid" />';
	            	$olist += '<input type="hidden" value="'+items.ostyle+'" name="ostyle" />';
	            	$olist += '</tr>';
	            })
	            $("#ajaxback").html($olist);
	            butt();
            }
            
            //console.log(data);
        },  
        error: function(data) {  
            console.log(data);
        }
      }); 
	}
	
$("#sxkey").bind("change",function(){
	var sxkey = $(this).val();
	switch(sxkey){
		case "orderno":
			$("#sxvalue").attr("placeholder","格式：不允许汉字");
			break;
		case "username":
			$("#sxvalue").attr("placeholder","格式：雁过留痕");
			break;
		case "buytime":
			$("#sxvalue").attr("placeholder","格式：1970-10-01");
			break;
		case "ostyle":
			$("#sxvalue").attr("placeholder","格式：买涨/买跌");
			break;
		case "ploss":
			$("#sxvalue").attr("placeholder","格式：数字格式");
			break;
		case "ostaus":
			$("#sxvalue").attr("placeholder","格式：建仓/平仓");
			break;
		default:
			$("#sxvalue").text("输入内容");
	}
	
})
</script>
<script type="text/javascript">  
	butt();
	setInterval('butt()', 1000);
	function butt(){  
		//获取油的价格到页面
		var yprice = $('#yprice').val();
		var byprice = $('#byprice').val();
		var toprice = $('#toprice').val();
		$.ajax({  
			type: "post",  
			url: "{:U('Goods/price')}",         
			success: function(data) { 
				//最新油价
				$('.you').html(data[0]);
				$('#yprice').val(data[0]);
				if(data[0]<yprice){
					$('.you').attr("class","you drop");
				}else if(data[0]==yprice){}else{
					$('.you').attr("class","you rise");
				}              
			},  
		}); 
		//获取白银的价格到页面  
		$.ajax({  
			type: "post",  
			url: "{:U('Goods/byprice')}",         
			success: function(data) {
				//最新白银价
				$('.baiyin').text(data[0]); 
				$('#byprice').val(data[0]);
				if(data[0]<byprice){
					$('.baiyin').attr("class","baiyin drop");
				}else if(data[0]==byprice){}else{
					$('.baiyin').attr("class","baiyin rise");
				}                
			},  
		});
		//获取铜的价格到页面  
		$.ajax({  
			type: "post",  
			url: "{:U('Goods/toprice')}",         
			success: function(data) {
				//最新白银价
				$('.tong').text(data[0]);
				$('#toprice').val(data[0]);
				if(data[0]<toprice){
					$('.tong').attr("class","tong drop");
				}else if(data[0]==toprice){}else{
					$('.tong').attr("class","tong rise");
				}   
			},  
		});
	}
</script>
<script type="text/javascript">
	setInterval('getPloss()', 1000);
	function getPloss(){
		$('.create').each(function(){
			var buyprice = $(this).find('input[name=buyprice]').val(),
				sellprice = $(this).find('.sellprice span').html(),
				wave = $(this).find('input[name=wave]').val(),
				onumber = $(this).find('input[name=onumber]').val(),
				cid = $(this).find('input[name=cid]').val(),
				ostyle = $(this).find('input[name=ostyle]').val(),
				ploss = 0,
				findPloss = $(this).find('.ploss');
			if(ostyle==0){
				if(cid==1){
					ploss = (sellprice-buyprice)*wave*onumber;
				}else{
					ploss = (sellprice-buyprice)*wave*onumber;
				}
			}else{
				if(cid==1){
					ploss = (buyprice-sellprice)*wave*onumber;
				}else{
					ploss = (buyprice-sellprice)*wave*onumber;
				}
			}
			if(ploss<0){
				findPloss.attr("class","ploss drop");
				findPloss.css('color','#2fb44e')
			}else{
				findPloss.attr("class","ploss rise");
				findPloss.css('color','#ed0000')
			}
			if(findPloss.html()=="NaN"){
				findPloss.html("");
			}else{
				findPloss.html(parseFloat(ploss).toFixed(2));	
			}
//			}else if(findPloss.html()==""){
//				findPloss.html("");
//			}else{
//				findPloss.html(parseFloat(ploss).toFixed(2));
//			}
			
		})
	}
</script>
</block>